* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1a1a1a;
}

header nav {
  background-color: rgb(150, 149, 148);
}
header .collapse navbar-collapse {
  text-align: center;
}

h1 {
  color: rgb(204, 175, 175);
  text-align: center;
  margin-top: 35px;
}

p {
  text-align: center;
  color: aliceblue;
}

.plan-canje {
  text-align: center;
  margin-top: 70px;
}
.plan-canje .lista-sellados {
  margin-bottom: 40px;
}

main .procedimiento {
  background-color: rgb(240, 240, 124);
  position: relative;
  top: 20px;
  padding: 10px 5px;
}
main .procedimiento h2 {
  text-align: center;
  color: rgb(77, 85, 92);
  font-family: Arial, Helvetica, sans-serif;
}
main .procedimiento ul {
  color: rgb(40, 48, 56);
}
main footer {
  background-color: #fff8f8;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  section h1 {
    color: aliceblue;
    margin-bottom: 60px;
  }
  section span {
    color: red;
  }
  main {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  .container-card .card {
    height: 330px;
  }
  .container-card-2 img {
    height: 110px;
  }
  .container-card-2 .card {
    height: 330px;
  }
  .container-card-3 .card {
    height: 330px;
  }
  .container-card-4 .card {
    height: 330px;
  }
  .botones {
    display: flex;
    margin: 100px;
  }
  .botones .boton-wp {
    margin-right: 300px;
  }
  .cardpj .procedimiento {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  section {
    display: flex;
  }
  section .bloque-1 {
    display: flex;
    margin-left: 200px;
  }
  section .bloque-2 {
    display: flex;
    margin-top: 300px;
  }
}
@media screen and (max-width: 480px) {
  section h1 {
    color: rgb(232, 241, 239);
    font-size: 20px;
  }
  section span {
    color: goldenrod;
  }
  main .container-card {
    margin-left: 110px;
  }
  main .container-card-2 {
    margin-left: 110px;
  }
  main .container-card-3 {
    margin-left: 110px;
  }
  main .container-card-4 {
    margin-left: 110px;
  }
}
section h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 40px;
}

main .container-card {
  width: 200px;
  height: 310px;
  margin-top: 20px;
  display: flex;
}
main .container-card-2 {
  width: 200px;
  height: 310px;
  margin-top: 20px;
  display: flex;
}
main .container-card-3 {
  width: 200px;
  height: 260px;
  margin-top: 20px;
  display: flex;
}
main .container-card-4 {
  width: 200px;
  height: 310px;
  margin-top: 20px;
  display: flex;
}
main footer {
  background-color: #b41818;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.botones {
  display: flex;
  justify-content: center;
}

.boton-wp {
  justify-content: center;
  margin-top: 40px;
}

.bot-wpp {
  text-align: center;
  margin-bottom: 20px;
  margin-right: 10px;
}

.bot-wpp a {
  background-color: rgb(31, 187, 83);
  padding: 5px;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  transition: 1s;
}
.bot-wpp a:hover {
  background-color: #1a1a1a;
}

.boton-ig {
  justify-content: center;
  margin-top: 40px;
}

.bot-igg {
  text-align: center;
  margin-bottom: 20px;
}

.bot-igg a {
  background-color: rgb(235, 231, 29);
  padding: 5px;
  color: rgb(213, 33, 230);
  text-decoration: none;
  border-radius: 10px;
  transition: 1s;
}
.bot-igg a:hover {
  background-color: #1a1a1a;
}

section h1 {
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}
section p {
  color: rgb(240, 248, 255);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 0px 10px 0px 10px;
}
section .maps {
  text-align: center;
}
section h4 {
  color: rgb(97, 97, 184);
  margin-top: 20px;
}

/*# sourceMappingURL=style.css.map */
