* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1a1a1a;
}

header nav {
  background-color: rgb(150, 149, 148);
}
header .collapse navbar-collapse {
  text-align: center;
}

h1 {
  color: rgb(204, 175, 175);
  text-align: center;
  margin-top: 35px;
}

p {
  text-align: center;
  color: aliceblue;
}

.plan-canje {
  text-align: center;
  margin-top: 70px;
}
.plan-canje .lista-sellados {
  margin-bottom: 40px;
}

main .procedimiento {
  background-color: rgb(240, 240, 124);
  position: relative;
  top: 20px;
  padding: 10px 5px;
}
main .procedimiento h2 {
  text-align: center;
  color: rgb(77, 85, 92);
  font-family: Arial, Helvetica, sans-serif;
}
main .procedimiento ul {
  color: rgb(40, 48, 56);
}
main footer {
  background-color: #fff8f8;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  section h1 {
    color: aliceblue;
    margin-bottom: 60px;
  }
  section span {
    color: red;
  }
  main {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  .container-card .card {
    height: 330px;
  }
  .container-card-2 img {
    height: 110px;
  }
  .container-card-2 .card {
    height: 330px;
  }
  .container-card-3 .card {
    height: 330px;
  }
  .container-card-4 .card {
    height: 330px;
  }
  .botones {
    display: flex;
    margin: 100px;
  }
  .botones .boton-wp {
    margin-right: 300px;
  }
  .cardpj .procedimiento {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  section {
    margin-top: 85px;
  }
  section h1 span {
    color: red;
  }
  main .card {
    height: 400px;
  }
  main .card p {
    color: black;
    font-size: 20px;
    margin-top: 70px;
  }
  main .card h2 {
    font-size: 25px;
  }
  main .card a {
    text-align: center;
    text-decoration: none;
    display: none;
  }
  main .container-card {
    margin-left: 500px;
    position: relative;
    top: 120px;
  }
  main .container-card-2 {
    margin-left: 102px;
    position: relative;
    bottom: 200px;
  }
  main .container-card-3 {
    margin-left: 102px;
  }
  main .container-card-4 {
    margin-left: 500px;
    position: relative;
    bottom: 290px;
  }
  .botones {
    position: relative;
    bottom: 100px;
  }
}
.fotos img {
  position: relative;
  left: 200px;
  top: 90px;
}
.fotos img:last-child {
  margin-left: 70px;
}

@media screen and (max-width: 480px) {
  section h1 {
    color: rgb(232, 241, 239);
    font-size: 20px;
  }
  section span {
    color: goldenrod;
  }
  main .container-card {
    margin-left: 102px;
  }
  main .container-card-2 {
    margin-left: 102px;
  }
  main .container-card-3 {
    margin-left: 102px;
  }
  main .container-card-4 {
    margin-left: 102px;
  }
  .container-gradiente div:first-child {
    display: none;
  }
  .imagenes div:first-child {
    margin-left: 30px;
  }
}
section h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 40px;
}

main .container-card {
  width: 200px;
  height: 310px;
  margin-top: 20px;
  display: flex;
}
main .container-card-2 {
  width: 200px;
  height: 310px;
  margin-top: 20px;
  display: flex;
}
main .container-card-3 {
  width: 200px;
  height: 260px;
  margin-top: 20px;
  display: flex;
}
main .container-card-4 {
  width: 200px;
  height: 310px;
  margin-top: 20px;
  display: flex;
}
main footer {
  background-color: #b41818;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.botones {
  display: flex;
  justify-content: center;
}

.boton-wp {
  justify-content: center;
  margin-top: 40px;
}

.bot-wpp {
  text-align: center;
  margin-bottom: 20px;
  margin-right: 10px;
}

.bot-wpp a {
  background-color: rgb(31, 187, 83);
  padding: 5px;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  transition: 1s;
}
.bot-wpp a:hover {
  background-color: #1a1a1a;
}

.boton-ig {
  justify-content: center;
  margin-top: 40px;
}

.bot-igg {
  text-align: center;
  margin-bottom: 20px;
}

.bot-igg a {
  background-color: rgb(235, 231, 29);
  padding: 5px;
  color: rgb(213, 33, 230);
  text-decoration: none;
  border-radius: 10px;
  transition: 1s;
}
.bot-igg a:hover {
  background-color: #1a1a1a;
}

section h1 {
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}
section p {
  color: rgb(240, 248, 255);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 0px 10px 0px 10px;
}
section .maps {
  text-align: center;
}
section h4 {
  color: rgb(97, 97, 184);
  margin-top: 20px;
}

.container-gradiente {
  margin: 35px;
  padding: 25px;
  background-image: linear-gradient(to right, #F1FD7A, #CFE30D);
  display: flex;
}
.container-gradiente div:first-child {
  background-color: rgb(240, 240, 124);
  width: 350px;
  margin-right: 35px;
}
.container-gradiente div:first-child h1 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  margin-top: 25px;
}
.container-gradiente div:first-child p {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
.container-gradiente div:last-child {
  background-color: #1A1A1A;
  width: 450px;
  padding: 20px 35px;
  transform: translateY(60px);
  box-shadow: -7px 32px 67px 3px rgba(0, 0, 0, 0.69);
  -webkit-box-shadow: -7px 32px 67px 3px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: -7px 32px 67px 3px rgba(0, 0, 0, 0.69);
}
.container-gradiente div:last-child h3 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
}
.container-gradiente div:last-child p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-top: 20px;
}

/*# sourceMappingURL=style.css.map */
