
body{
    background-color: #1a1a1a;
}

header{
    nav{
        background-color: rgb(150, 149, 148) ;
        width: 100%;
    }
    .collapse navbar-collapse{
        text-align: center;
    }
    
    }


