
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #1a1a1a;
}

header{

    nav{
        background-color: rgb(150, 149, 148) ;
        
    }

    .navbar-nav{

        .nav-item{

            a{
            transition: 1s;
        

        &:hover{
            color:#F1FD7A;
            margin-left: 10px;
        }

    }
    }
    .collapse navbar-collapse{
        text-align: center;
    }
}
    }


