@import "../utilities/variables";
section{
    h1{
        text-align: center;
        font-family: $font-arial;
        margin-top: 40px;
    }
}
main {


.container-card-2{
    width: 200px;
    height: 310px;
    margin-top: 20px;
    display: flex;
}

.container-card-3{
    width: 200px;
    height: 260px;
    margin-top: 20px;
    display: flex;
}

.container-card-4{
    
    @extend .container-card-3;
}

.container-card-5{
    @extend .container-card-3;
}



    footer {
        background-color: #b41818;
        color: white;
        text-align: center;
        padding: 10px 0;
        position: relative;
        top: 30px;
        bottom: 0;
        width: 100%;
    }

}