
.container-gradiente{

    margin: 35px;
    padding: 25px;
    background-image: linear-gradient(to right, #F1FD7A, #CFE30D);
    display: flex;


    div:first-child{
        background-color: rgb(240, 240, 124);
        width: 350px;
        margin-right: 35px;


        h1{
            color:black;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2.5rem;
            margin-top: 25px;
            
            
        }
        p{
            color: black;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 13px;
            
        }
    }

    div:last-child{
        background-color: #1A1A1A;
        width: 450px;
        padding: 20px 35px;
    
    h3{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.3rem;
    }
    p{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        margin-top: 20px;

    }

    transform: translateY(60px);
    box-shadow: -7px 32px 67px 3px rgba(0,0,0,0.69);
-webkit-box-shadow: -7px 32px 67px 3px rgba(0,0,0,0.69);
-moz-box-shadow: -7px 32px 67px 3px rgba(0,0,0,0.69);

}
}