section{
   
    h1{
        color: aliceblue;
        font-family: Arial, Helvetica, sans-serif;
    }

    p{
        color: rgb(240, 248, 255);
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        padding: 0px 10px 0px 10px;
    }
    
    .maps{
        text-align: center;
    }
    h4{
        color: rgb(97, 97, 184);
        margin-top: 20px;
    }
}

