

h1{
    color:  #F1FD7A;
    text-align: center;
    margin-top: 35px;
}

p{
    text-align: center;
    color: aliceblue;
}

.plan-canje{
    text-align: center;
    margin-top: 70px;
    
        .lista-sellados{
            margin-bottom: 40px;
        }
}

main{

    .procedimiento{

        h2{
            text-align: center;
            color: rgb(77, 85, 92);
            font-family: Arial, Helvetica, sans-serif;
        }

        background-color: rgb(240, 240, 124);
        position: relative;
        top: 20px;
        padding: 10px 5px;

        ul{
            color: rgb(40, 48, 56);
        }
    }

    
        footer {
            background-color: #fff8f8;
            color: white;
            text-align: center;
            padding: 10px 0;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    }


