@import "../utilities/variables";

@media screen and (max-width:480px){
    section{
    h1{
        color: rgb(232, 241, 239);
        font-size: 20px;        
    }
    span{
        color: goldenrod;
    }
} 
main{
    
    .container-card{
        margin-left: 102px;
        
    }
    
    .container-card-2{
        margin-left: 102px;
    }

    .container-card-3{
        margin-left: 102px;
    }
    
    .container-card-4{
        margin-left: 102px;
    }

    }
    


    .container-gradiente{
        div:first-child{
            display: none;
        }
    }


    .imagenes{
        margin-top: 100px;
        display: flex;
        justify-content: space-around;

        div{

            img{
                width: 100px;
            }

            p{
                margin-top: 15px;
                font-family: Arial, Helvetica, sans-serif;
                color: $color-negro;
            }
        }
    }



}
    





