@import "../utilities/variables";
@media screen and (min-width:768px) and (max-width:1023px){


    section{
        margin-top: 85px;
        h1{
            span{
                color: red;
            }
        }
    }

    
        main{
            
            .card{
                height: 400px;
                p{
                    color: $color-negro;
                    font-size: 20px;
                    margin-top: 70px;
                }

                h2{
                    font-size: 25px;
                }

                a{
                    text-align: center;
                    text-decoration: none;
                    display: none;
                }
            }

            .container-card-2{
                margin-left: 500px;
                position: relative;
                top: 120px;
                
            }
            
            .container-card-3{
                margin-left: 102px;
                position: relative;
                bottom: 200px;
            }

            .container-card-4{
                position: relative;
                top: 2px;
            }

            .container-card-5{
                margin-left: 500px;
                position: relative;
                bottom: 290px;
            }
        
            }
        

        .botones{
            position: relative;
            bottom: 100px;
        }

        }  

        .fotos{

            img{
            position: relative;
            left: 200px;
            top: 90px;
            
        }
    
        img:last-child{
            margin-left: 70px;
        }
    
    

    }

    .imagenes{
        display: flex;
        justify-content:space-around;
           
        div{
            background-color: aliceblue;


        img{
            width: 180px;
        }

            p{
                margin-top: 15px;
                font-family:$font-arial;
                color: $color-negro;
        }
    }
    }
