@media screen and (min-width:768px) and (max-width:1023px){


    section{
        margin-top: 85px;
        h1{
            span{
                color: red;
            }
        }
    }

    
        main{
            
            .card{
                height: 400px;
                p{
                    color: black;
                    font-size: 20px;
                    margin-top: 70px;
                }

                h2{
                    font-size: 25px;
                }

                a{
                    text-align: center;
                    text-decoration: none;
                    display: none;
                }
            }

            .container-card{
                margin-left: 500px;
                position: relative;
                top: 120px;
                
            }
            
            .container-card-2{
                margin-left: 102px;
                position: relative;
                bottom: 200px;
            }
        
            .container-card-3{
                margin-left: 102px;

            }
            
            .container-card-4{
                margin-left: 500px;
                position: relative;
                bottom: 290px;
            }
        
            }
        

        .botones{
            position: relative;
            bottom: 100px;
        }

        }  

