@media screen and (min-width:1024px)  {

   section{
    h1{
        color: aliceblue;
        margin-bottom: 60px;
        
    }
   
    span{
        color: red;  
    }

   }

   main{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    }

    .container-card{

    .card {
        height: 330px;
        transition: 1s;
        p{
            color: black;
        }
    }
}

    .container-card-2{

        a{
            text-decoration: none;
            color: red;
            transition: 0.8s;

            &:hover{
                color: black;
                 
             }

        }
   
        img{
            height: 110px;
        }

        p{
            color: black;
            margin-top: 30px;
        }

        .card{
            height: 330px;

            transition: 1.2s;

            &:hover{
                background-color: rgb(165, 164, 157);
                
            }


        }
   }

    .container-card-3{

        p{
            color: black;
        }

        a{
            text-decoration: none;
            color: red;
            transition: 0.8s;

            &:hover{
                color: black;
                 
             }

        }

        .card{
            height: 330px;
            transition: 1s;

            &:hover{
                background-color: rgb(165, 164, 157);
                
            }

        }
    }
    
    .container-card-4{

        p{
            color: black;
            margin-bottom: 10px;
            
        }    

        .card{
            height: 330px;
        }
    }

    .botones{
        display: flex;
        margin: 100px ;
        .boton-wp{
            margin-right: 300px;
        
        }
    }
    

    
    .cardpj{
    
   
        .procedimiento{
            width: 100%;
        }
    

    }
}


