@media screen and (max-width:480px){
    section{
    h1{
        color: rgb(232, 241, 239);
        font-size: 20px;        
    }
    span{
        color: goldenrod;
    }
} 
    main{
    .container-card{
        margin-left: 110px;
    }
    
    .container-card-2{
        margin-left: 110px;
    }
    
    .container-card-3{
        margin-left: 110px;
    }
    
    .container-card-4{
        margin-left: 110px;
    }

    }

}  